* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color:lightblue;
}
#box {
    border: 1px solid #ccc;
    padding: 15px;
    width: 300px;
    background-color: dimgray;
    margin-top: 10px;
}
button {
    padding: 8px 12px;
    margin-top: 10px;
}

footer {
    background-color: darkblue;
    & p {
        text-align: center;
        color: white;
        padding: 1em 0;
        margin-top: max(600px, 100px);
    }
}



